<ion-modal-view class="activitiesItem">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">{{activity.name}}</h1>
        <button class="button button-clear" ng-click="modal.hide()">
            <span class="icon ion-ios-close-empty"></span>
        </button>
    </ion-header-bar>
    <ion-content on-swipe-right="swipeRight()" on-swipe-down="modal.hide()">
        <!-- <div class="card padding">
            <p>{{rating}}-stars</p>
            <p>{{singleActivity.description}}</p>
            <div class="admin clearFloat" ng-show="isAdmin || isUser">
                <a class="editButton padding" ng-click="updateItem(item._id)">
                    <i class="icon ion-compose"></i>
                </a>
                <a class="trashButton padding" ng-click="destroyItem(item._id)">
                    <i class="icon ion-trash-a"></i>
                </a>
            </div>
        </div> -->
        <div class="card">
          <div>
            <p>{{rating}}-stars</p>
            <p>{{singleActivity.description}}</p>
          </div>
            <div class="adminContainer" ng-show="isAdmin || isUser">
              <a class="editButton" ng-click="editModal.show(); edit(deal);">
                <i class="icon ion-ios-compose"></i>
              </a>

              <a class="rashButton" ng-click="showConfirm(deal._id)">
                <i class="icon ion-trash-a"></i>
              </a>
            </div>

        </div>
        <div class="card padding" ng-repeat="review in reviews track by $index">
            <p>{{review.rating}}-stars</p>
            <p>{{review.review}}</p>
            <div class="admin clearFloat" ng-show="isAdmin || isUser">
                <a class="editButton padding" ng-click="updateItem(item._id)">
                    <i class="icon ion-compose"></i>
                </a>
                <a class="trashButton padding" ng-click="destroyItem(item._id)">
                    <i class="icon ion-trash-a"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
