<ion-modal-view class="activityAddModal">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Submit Activity</h1>
    </ion-header-bar>
    <ion-content class="has-header">

<!-- Admin section for approval/disapproval of submited activities -->
        <div class="adminApprove" ng-hide="isAdmin && hasUnapprovedActivity">
            <div>
                <h4 class="eventHeader">Unapproved Activities</h4>
            </div>
            <!-- Show unapproved items -->
            <div class="card" ng-repeat="unapprovedActivity in unapprovedActivities track by $index">
                <div class="item item-divider">
                    <h3>{{unapprovedActivity.category}}</h3>
                </div>
                <div class="eventDescription item item-text-wrap">
                    <p>Name: {{unapprovedActivity.items[0].name}}</p>
                    <p>Rating: {{unapprovedActivity.items[0].rating}}-stars</p>
                    <p>Description: {{unapprovedActivity.items[0].description}}</p>
                </div>
                <!-- approve or disapprove each item -->
                <button class="disapprovalButton button button-assertive" ng-click="destroyActivity(unapprovedActivity._id)">
                    <i class="icon ion-close"></i>
                </button>
                <button class="approvalButton button button-balanced" ng-click="approveActivity(unapprovedActivity._id, unapprovedActivity)">
                    <i class="icon ion-checkmark"></i>
                </button>
            </div>
        </div>
<!-- END Admin section for approval/disapproval of submited activities -->

<!-- Student new Activity submittal inputs -->
        <label class="item item-input item-select">
          <span class="input-label">Choose a Category</span>
          <select>
              <option ng-repeat="activity in activities" ng-model="newActivity.category">{{activity.category}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="newActivity.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="text" ng-model="newActivity.location">
        </label>
        <label class="item item-input">
            <span class="input-label">Description</span>
            <textarea type="textarea" ng-model="newActivity.description"></textarea>
        </label>
<!-- END Student new Activity submittal inputs -->

        <div class="submitButtonContainer">

            <!-- Add Review and Photo buttons -->
            <button class="button button-positive icon-left ion-compose submitButton" ng-click="reviewModal.show()">Write a review</button>
            <button class="button button-positive icon-left ion-android-upload submitButton" ng-click="photoModal.show()">Upload a photo</button>

            <!-- Submit or Cancel buttons -->
            <button class="button button-balanced submitButton" ng-click="addActivity(newActivity); modal.hide()">Submit</button>
            <button class="button button-assertive submitButton" ng-click="modal.hide()">Cancel</button>

        </div>
     </ion-content>
</ion-modal-view>
