<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Submit Activity</h1>
    </ion-header-bar>
    <ion-content class="paddings">
        <label class="item item-input item-select">
          <span class="input-label">Choose a Category</span>
          <select>
              <option ng-repeat="activity in activities" ng-model="newActivity.name">{{activity.category}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="newActivity.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="text" ng-model="newActivity.location">
        </label>
        <label class="item item-input">
            <span class="input-label">Description</span>
            <textarea type="textarea" ng-model="newActivity.description"></textarea>
        </label>
        <div class="submitButtonContainer">
            <button class="button button-positive icon-left ion-compose submitButton" ng-click="reviewModal.show()">Write a review</button>
            <button class="button button-positive icon-left ion-android-upload submitButton" ng-click="photoModal.show()">Upload a photo</button>
            <!-- <div class="button button-clear"></div> -->
            <button class="button button-balanced submitButton" ng-click="addActivity(newActivity); modal.hide()">Submit</button>
            <button class="button button-assertive submitButton" ng-click="modal.hide()">Cancel</button>
        </div>
     </ion-content>
</ion-modal-view>
