<ion-modal-view class="activityAddModal">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 id="title-center" class="title">Submit Activity</h1>
    </ion-header-bar>
    <ion-content class="has-header" on-swipe-down="modal.hide()">

<!-- Student new Activity submittal inputs -->

        <div ng-hide="!category">
            <div class="submitButtonContainer">
                <button class="button button-balanced submitButton" ng-click="categoryToggle()">Done</button>
            </div>
            <ul class="list">
                <li class="item item-checkbox" ng-repeat="category in categories track by $index">
                    <label class="checkbox">
                        <input
                        type="checkbox"
                        ng-model="categoryList[$index]"
                        >
                    </label>
                    {{category}}
                </li>
            </ul>
        </div>


        <label class="item item-input">

            <button
                class="input-label button icon-left ion-android-checkbox-outline"
                ng-model="newActivity.category"
                ng-click="categoryToggle()"
                ng-show="!category"
                >
                Choose Categories
            </button>


        </label>
        <div ng-show="!category">
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" ng-model="newActivity.name">
            </label>
            <label class="item item-input">
              <span class="input-label">Location</span>
              <input type="text" ng-model="newActivity.location">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <textarea type="textarea" ng-model="newActivity.description"></textarea>
            </label>
    <!-- END Student new Activity submittal inputs -->

            <div class="submitButtonContainer">

                <!-- Add Review and Photo buttons -->
                <button class="button button-positive icon-left ion-compose submitButton" ng-click="reviewModal.show()">Write a review</button>
                <button class="button button-positive icon-left ion-android-upload submitButton" ng-click="photoModal.show()">Upload a photo</button>

                <!-- Submit or Cancel buttons -->
                <button class="button button-balanced submitButton" ng-click="addActivity(newActivity); modal.hide()">Submit</button>
                <button class="button button-assertive submitButton" ng-click="modal.hide()">Cancel</button>

            </div>
        </div>
     </ion-content>
</ion-modal-view>
