<ion-view class="activities">
    <div class="bar bar-header bar-dark">
        <a href="/#/home"><button class="button button-icon icon ion-navicon"></button></a>
        <h1 class="title">Activities</h1>
    </div>
    <ion-content class="padding has-header" on-swipe-right="swipeRight()">
        <ion-list>
            <div class="card" ng-repeat="activity in activities">
                <a ui-sref="activitiesDetails({category:activity.name})">
                    <img src="{{activity.img}}" alt="" />
                    <div class="button button-clear button-positive">
                        {{activity.name}}
                    </div>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
