<ion-view class="activities">
    <div class="bar bar-header bar-dark">
        <a href="/#/home"><button class="button button-icon icon ion-navicon"></button></a>
        <h1 class="title">Activities</h1>
    </div>
    <ion-content class="padding">
        <ion-list>
            <div ng-repeat="activity in activities">
                <ion-item ng-class="{active: isGroupShown(activity)}" ng-click="toggleGroup(activity)">
                    <button  class="button button-clear button-positive" ng-class="isGroupShown(activity)"></button>
                    <button ng-click="showActions(activity)" class="button button-clear button-dark">
                        {{activity.name}}
                    </button>
                </ion-item>
                <ion-item class="item-accordion" ng-click="showDetailActions(activities)" ng-repeat="item in activity.items" ng-show="isGroupShown(activity)">
                    {{item}}
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
