<ion-view class="activitiesDetails">
  <ion-nav-bar class="bar-header bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
<ion-content class="padding" on-swipe-right="swipeRight()">
  <ion-list>
    <div class="card">
      <img src="{{details.img}}" alt=""/>
      <div class="button button-clear button-positive">
        {{details.name}}
      </div>
      <div class="bar-blue"></div>
    </div>
    <div class="card padding" ng-repeat="item in details.items" ng-click="modal.show(); modalItems(item)">
        <h4 ng-class="{active: isGroupShown(activity)}">
        {{item.name}}
        </h4>
        <a class="trashButton" ng-click="showConfirm(item._id)">
            <i class="icon ion-trash-a"></i>
        </a>
        <div class="bar-red"></div>
    </div>
  </ion-list>
</ion-content>
</ion-view>
