<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Submit Event</h1>
  </ion-header-bar>
  <ion-content on-swipe-down="modal.hide()">
    <!-- <div class="list"> -->
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title" ng-model="newEvent.title">
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <textarea type="text" placeholder="Description" ng-model="newEvent.description"></textarea>
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" placeholder="Date" ng-model="newEvent.date">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <input type="time" placeholder="Time" ng-model="newEvent.time">
      </label>
    <!-- </div> -->
    <div class="submitButtonContainer">
      <button class="button button-balanced submitButton" ng-click="addEvent(newEvent); modal.hide()">Submit</button>
      <button class="button button-assertive submitButton" ng-click="modal.hide()">Cancel</button>
    </div>
   </ion-content>
</ion-modal-view>
