<ion-view class="calendar">
  <div class="bar bar-header bar-dark">
    <a href="/#/home">
      <img src="./img/devmtnlogo_notext.png" class="headerBarLogo" />
    </a>

    <h1 class="title">Events</h1>

    <div class="add">
      <a ng-click="modal.show()">
        <button class="button button-icon icon ion-plus"></button>
      </a>
    </div>
  </div>
  <ion-content class="has-header">

    <div class="adminApprove" ng-hide="!isAdmin && !hasUnapprovedEvents">
      <div>
        <h4 class="eventHeader">Unapproved Events</h4>
      </div>
      <div class="card" ng-repeat="unapprovedEvent in unapprovedEvents track by $index">
        <div class="item item-divider">
          {{unapprovedEvent.title}}
        </div>
        <div class="eventDescription item item-text-wrap">
          <p>
          {{unapprovedEvent.description}}
          </p>
          <strong>When:</strong>
          <strong>{{unapprovedEvent.date}}</strong>
        </div>
        <button class="disapprovalButton button button-assertive" ng-click="destroyEvent(unapprovedEvent._id)">
          <i class="icon ion-close"></i>
        </button>
        <button class="approvalButton button button-balanced" ng-click="approveEvent(unapprovedEvent._id, unapprovedEvent)">
          <i class="icon ion-checkmark"></i>
        </button>
      </div>
    </div>

    <flex-calendar options="calOptions" events="events"></flex-calendar>

    <!-- <label class="item item-input search-bar">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchText">
    </label>

    <h4 class="today">Today: </h4> -->

      <div id="eventHeader">

      </div>

    <div class="card" ng-repeat="event in dateEvents | orderBy: 'time' track by $index">
      <div class="item item-divider">
        {{event.title}}
      </div>
      <div class="item item-text-wrap">
        {{ event.description }}
        <p/>
        <div class="when">
          <strong>When: {{event.time}}</strong>
        </div>
      </div>
      <div class="adminContainer" ng-hide="!isAdmin && !hasUnapprovedEvents">
        <a class="editButton" ng-click="editModal.show(); edit(event);">
          <i class="icon ion-ios-compose"></i>
        </a>

        <a class="rashButton" ng-click="showConfirm(event._id)">
          <i class="icon ion-trash-a"></i>
        </a>
      </div>

  </ion-content>
</ion-view>
