<ion-view class="deals">
  <div class="bar bar-header bar-dark">
    <a href="/#/home"><button class="button button-icon icon ion-navicon"></button></a>
    <h1 class="title">Deals</h1>
  </div>
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        UTA PASS
      </div>
      <div class="item item-text-wrap">
        Normally $450. With your great DevMtn discount you get it for only 8 easy payments of $3.43 and 1 fucking hard payment of $666
      </div>
      <div class="item item-divider">
        Take advantage now!
      </div>
    </div>

  </ion-content>
</ion-view>
