<ion-modal-view class='event-page'>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">EVENT</h1>
    <button class="button button-clear" ng-click="closeEventModal()">
            <span class="icon ion-ios-close-empty"></span>
        </button>
  </ion-header-bar>
  <ion-content on-swipe-right="swipeRight()" on-swipe-down="closeEventModal.hide()">
    <!-- <div class='event-cover-photo-container'>
      <img ng-src='event.photoCover' />
    </div> -->
    <div class="event-container">
      <div class="event-header-container">
        <div class="event-info-container">
          <div class="event-info-row">
            <h1 class="event-title">{{event.title}}</h1>
          </div>
          <div class="event-info-row">
            <h3>{{event.description}}</h3>
          </div>
          <div class="event-info-row">
            <h3>{{event.date | date: short}}</h3>
            <h3>at</h3>
            <h3>{{event.time}}</h3>
          </div>
          <div class="event-info-row">

            <h3 ng-if="event.location">Location: {{event.location}}</h3>
            <h3 ng-if="event.cost">Cost: {{event.cost}}</h3>
          </div>
          <div class="event-info-row">
            <button class="button button-positive" ng-click="goToEvent(event._id)">Join</button>
          </div>
        </div>
      </div>
      <div class="event-options-container">
        <button class="button button-positive">Comments</button>
        <!-- <button class="button button-positive">Photos</button> -->
        <button class="button button-positive">People Going</button>
      </div>
      <div class="comments-container" ng-if="event.comments.length >= 1">
        <div class="comment-container" ng-repeat="comment in event.comments | orderBy: '-createdAt'">
          <div class='comment-wrapper'>
            {{comment.postedBy.name.first}}
            {{comment.postedBy.name.last}}
            <div class='thumbnail-container'>

              <img class='thumbnail' ng-src='{{comment.postedBy.profilePic}}' />
            </div>
            <h3>{{comment.comment}}</h3>
            <h5>{{comment.createdAt | date: 'shortTime'}}</h5>
            <i class="icon ion-trash-a"></i>
          </div>
        </div>
      </div>
      <div class="post-comment-container">
        <label class="item item-input commentText">
          <input id="comment-input" type="text" ng-model="newComment.comment" class="comment-input" placeholder="Post a comment for this event!">
        </label>

        <button class="button button-positive reviewButton" ng-click="postComment(newComment, event._id)">Post Comment</button>
      </div>
    </div>
   </ion-content>
</ion-modal-view>
