<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">STUDENT REVIEW</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <div class="rank">
        <div id="star">RANK</div>
      </div>
      <div class="stars">
        <form id="ratingsForm">
            <div class="stars">

              <span class="star-rating">
                <input type="radio" name="review.rating" ng-model="rating" ng-value="1"><i></i>
                <input type="radio" name="review.rating" ng-model="rating" ng-value="2"><i></i>
                <input type="radio" name="review.rating" ng-model="rating" ng-value="3"><i></i>
                <input type="radio" name="review.rating" ng-model="rating" ng-value="4"><i></i>
                <input type="radio" name="review.rating" ng-model="rating" ng-value="5"><i></i>
              </span>

            </div>
        </form>
      </div>
      <div class="writeComment">
        <label class="item item-input reviewText">
          <input type="text" ng-model="review.review" id="thought" placeholder="did you have thought? i thought not">
        </label>
      </div>
      <button class="button button-positive reviewButton" ng-click="modal.hide()">Cancel</button>
      <button class="button button-positive reviewButton" ng-click="addReview(review)">Post</button>
    </div>
   </ion-content>
</ion-modal-view>
