<ion-view class="places">
    <div class="bar bar-header bar-dark">
      <a href="/#/home">
        <img src="./img/devmtnlogo_notext.png" class="headerBarLogo" />
      </a>
        <h1 class="title">Nearby</h1>
    </div>
    <ion-content class="padding has-header" on-swipe-right="swipeRight()">
        <ion-list>
            <div class="card" ng-repeat="category in placesCategories">
                <a ui-sref="placesDetails({category:category.name})">
                    <img src="{{category.img}}" alt="" />
                    <div class="button button-clear button-positive">
                        {{category.name}}
                    </div>
                </a>
                <div class="bar-blue"></div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
