<ion-view class="placesDetails">
  <ion-nav-bar class="bar-header bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <h1 class="title">Places Nearby</h1>
  </ion-nav-bar>
  <ion-content class="has-header" on-swipe-right="swipeRight()">

    <label class="item item-input search-bar">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchText">
    </label>

    <!-- <div class="tags">
    <div ng-repeat="tag in tags" ng-show="!searchText">
      <button class="button tag button-medium button-assertive" ng-click="setSearchType($index, tag.name)" ng-style="{background: tag.selected == true ? '#E62B25' : '#ef473a'}">
        {{tag.name}}
      </button>
    </div>
    </div> -->

    <div id="loader">
      <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
          <path fill="#fff" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
            <animateTransform
               attributeName="transform"
               attributeType="XML"
               type="rotate"
               dur="1s"
               from="0 50 50"
               to="360 50 50"
               repeatCount="indefinite" />
        </path>
      </svg>
    </div>

    <div class="places--container" ng-repeat="place in places | orderBy: 'distance' | filter:searchText | filter:{placeType: searchType}">
       <!-- ng-show="place.opening_hours.open_now" -->

      <div class="item card item-thumbnail-left">
            <img ng-src= "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{place.photos[0].photo_reference}}&key={{googleKey}}"/>


        <div class="text">
        <div class="miles">
          <h5>{{place.distance}}</h5>
          <h6>({{place.duration}})</h6>
        </div>

        <div class="open_now" ng-style="{background: place.opening_hours.open_now == true ? '#42B60E' : '#ef473a'}"></div>
        <div class="placeNameContainer">
          <div class="placeName">
          {{place.name}}
          </div>
        </div>

        <div class="ratingContainer">
          <div ng-repeat="star in place.ratingsArr track by $index" class="displayStars"></div>
        </div>
      </div>

      </div>

    </div>

  </ion-content>
</ion-view>
