# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Spicy Secrets
config.js
devmtnAuthConfig.js

# Node
node_modules/

# Ionic
#platforms/
#plugins/

# generated content
css/
js/
