@import '_variables'
.activities
  ion-content
    background: $dmMidGray
    position: absolute
    top: $headerW

    // Accordion styles
    .item
        background: $dmMidGray
        color: $dmLightGray !important
        height: 15vw
    @keyframes accordion
        0%
            opacity: 0
        100%
            opacity: 1
    .list .item.item-accordion
        line-height: 38px
        padding-top: 0
        padding-bottom: 0
        animation: accordion .40s ease-in-out

    .list .item.item-accordion.ng-hide
        // line-height: 0

    .list .item.item-accordion.ng-hide-add, .list .item.item-accordion.ng-hide-remove
        display: block !important

    // End Accordion styles

    .card
        min-height: 34vw
        background-color: $dmLightGray
        img
            width: 100%
            max-height: 28vw
            object-fit: cover
            // margin-top: -1vh
        .button
            height: 10px !important
            min-height: 20px
            line-height: normal
        .button.button-positive.button-clear
                font-size: 4vw
                font-weight: bold
                color: $seperator !important
