@import '_variables'
.activities, .activitiesDetails, .activitiesItem
    ion-content
        background-color: $dmMidGray !important
        position: absolute
        top: $headerW
    .headerBarLogo
        height: 5vh
        margin: 1.5vw
    .bar .title
        display: inline-block !important
        right: 15vw
        left: 15vw

    // Accordion styles
    // .item
    //     background-color: $dmMidGray
    //     // color: $dmLightGray !important
    //     height: 15vw
    // @keyframes expand
    //     0%
    //         opacity: 0
    //     100%
    //         opacity: 1
    // .list .item.item-accordion
    //     line-height: 38px
    //     padding-top: 0
    //     padding-bottom: 0
    //     animation: accordion .40s ease-in-out
    //
    // .list .item.item-accordion.ng-hide
    //     // line-height: 0
    //
    // .list .item.item-accordion.ng-hide-add, .list .item.item-accordion.ng-hide-remove
    //     display: block !important
    //
    // End Accordion styles

    .activity
        // color: $dmLightGray !important
    .card
        min-height: 18vw
        // background-color: $dmLightGray
        margin-top: 5vw
        img
            width: 100% !important
            max-height: 28vw !important
            object-fit: cover !important
            margin-top: -1px !important
        .button
            max-height: 10vh !important
            min-height: 20px !important
            line-height: normal !important
        .button.button-positive.button-clear
            font-size: 5vw !important
            font-weight: bold !important
            color: $seperator !important
            width: 100%
        p
            padding: 0 3vw 0 3vw
    .card.redBar
        border-bottom: 0.8vh solid $flatRed
    .cardName
        width: 100%
        float: left
    .admin
        width: 100%
        border-top: 1px solid lightgray
    .trashButton
        // margin: 20px 10px 0px 0px
        text-align: right
        color: $seperator
        font-size: 1.2rem
        float: right
        // @include vertical-align()
    .editButton
        // margin: 20px 0px 0px 10px
        text-align: left
        color: $seperator
        font-size: 1.2rem
        float: left
        // @include vertical-align()

    .clearFloat
        clear: both
    .divider
        width: 100%
        height: 5vw !important
        background-color: $dmMidGray !important
    .add
        width: 100%
        text-align: right
    // .bar-red
    //     height: 0.8vh
    //     width: 100%
    //     background: $flatRed
    //     margin-bottom: -0.2vh
    .bar-blue
        height: 0.8vh
        width: 100%
        background: $dmBleu
        margin-bottom: -0.2vh
    #title-center
        text-align: center !important
    .disapprovalButton, .approvalButton
        margin: 10px
    .approvalButton
        float: right
    .eventHeader
        text-align: center
        margin-top: 2.7vh
        color: white
