@import '_variables'
.activities, .activitiesDetails, .activitiesItem
  ion-content
    background-color: $dmMidGray !important
    position: absolute
    top: $headerW



    // Accordion styles
    .item
        background-color: $dmMidGray
        // color: $dmLightGray !important
        height: 15vw
    @keyframes expand
        0%
            opacity: 0
        100%
            opacity: 1
    .list .item.item-accordion
        line-height: 38px
        padding-top: 0
        padding-bottom: 0
        animation: accordion .40s ease-in-out

    .list .item.item-accordion.ng-hide
        // line-height: 0

    .list .item.item-accordion.ng-hide-add, .list .item.item-accordion.ng-hide-remove
        display: block !important

    // End Accordion styles

    .activity
        // color: $dmLightGray !important
    .card
        min-height: 18vw
        // background-color: $dmLightGray
        margin-top: 5vw
        img
            width: 100% !important
            max-height: 28vw !important
            object-fit: cover !important
            margin-top: -1px !important
        .button
            max-height: 10vh !important
            min-height: 20px !important
            line-height: normal !important
        .button.button-positive.button-clear
                font-size: 4vw !important
                font-weight: bold !important
                color: $seperator !important
        p
            padding: 0 3vw 0 3vw

    .divider
        height: 5vw !important
        background-color: $dmMidGray !important
