@import '_variables'
.calendar
  ion-content
    background: $dmMidGray
    position: absolute
    top: $headerW
  .today
    color: white
    margin-left: 5vw
  .flex-calendar .week
    background-color: $dmBleu
  .flex-calendar .days .day.selected .number
    background-color: $dmBleu
  .flex-calendar .days .day.event:before
    background-color: $flatRed
  .flex-calendar .month
    background-color: $dmBleu
