@import '_variables'
.deals
    ion-content
        background: $dmMidGray
        position: absolute
        top: $headerW
    .headerBarLogo
        height: 5vh
        margin: 1.5vw
    .bar .title
        display: inline-block !important
        right: 15vw
        left: 15vw
