@import '_variables'
.event-page
  ion-content
    background: $dmMidGray
    position: absolute
  .event-container
    width: 100vw
    min-height: 100vh
  .event-header-container
    background-color: #FFF
    width: 100vw
    display: flex
    padding: 5px
  .event-info-container
    display: flex
    flex-direction: column
    width: 100vw
  .event-info-row
    display: flex
    flex-wrap: nowrap
    align-items: center
    margin-bottom: 14px
  .event-info-row > h1
    font-size: 5vh
    margin: 0 5px
  .event-info-row > h3
    margin: 2px 5px
    font-size: 3vh
  .event-options-container
    margin: 4vw
    display: flex
    justify-content: center
    align-items: center

  .event-options-container > button
    margin-right: 5px
    height: 3vh !important
    width: 50vw
  .post-comment-container
    display: flex
    flex-flow: column
    padding: 0 5vw
    // align-items: center
  .post-comment-container > label
    // width: 90vw !important
    // align-self: center
    border-radius: 4px
  .post-comment-container > button
    width: 60vw !important
    align-self: center
