@import '_variables'

.places
  overflow: scroll
  ion-content
    background: $dmMidGray
    position: absolute
    top: $headerW
  .poopoobrown
    background: brown
  .search-bar
    // width: 90vw
    // @include horizontal-align()
  .tags
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 2vw
  .tag
    margin: 1vh
    width: 28vw
    font-size: 2vh
    // background: $dmBleu
    // color: white
  .activated
    border: 0
    background: $dmBlue2
  img
    border-radius: 100%
  .places--container
    overflow: scroll
    // height: 100%
    // max-height: inherit
  .miles
    @include vertical-align()
    height: 100%
    float: right
    margin: 5vw
    margin-right: 1vw
  .miles>h2
    color: $dmLightGray
  .places--content
    margin-top: 2vh
    float: left
  .comments
    height: 70vh
  .comment
    margin-top: 20px
    color: white
  #star
    padding-top: 10%
  #addReview
    display: flex
    justify-content: space-around
    margin-bottom: 20px
  .edits
    display: flex
    justify-content: space-around
  .writeComment
    height: 40vh

.item-input.reviewText
  height: 30vh
.icon.ion-star
  font-size: 8vw
.button.button-positive.reviewButton
  width: 30vw
  margin-top: 2vh
.stars
  width: 40%
  text-align: center
  font-size: 10vw !important
  display: flex
  justify-content: flex-start
  margin-bottom: 2vh
  margin-top: 2vh
.star
  width: 100%
