@import '_variables'
.places, .placesItem
  ion-content
    background-color: $dmMidGray !important
    position: absolute
    top: $headerW
  .item
      background-color: $dmMidGray
      // color: $dmLightGray !important
      height: 15vw
  @keyframes expand
      0%
          opacity: 0
      100%
          opacity: 1
  .list .item.item-accordion
      line-height: 38px
      padding-top: 0
      padding-bottom: 0
      animation: accordion .40s ease-in-out
  .list .item.item-accordion.ng-hide
      // line-height: 0
  .list .item.item-accordion.ng-hide-add, .list .item.item-accordion.ng-hide-remove
      display: block !important
  // End Accordion styles
  .activity
      // color: $dmLightGray !important
  .card
      min-height: 18vw
      margin: 0 0 10vw
      img
          width: 100% !important
          max-height: 28vw !important
          object-fit: cover !important
          margin-top: -1px !important
      .button
          max-height: 10vh !important
          min-height: 20px !important
          line-height: normal !important
      .button.button-positive.button-clear
          margin-bottom: 1vh
          font-weight: bold !important
          color: $seperator !important
  .bar .title
    left: 15vw
  .bar-red
    height: 0.8vh
    width: 100%
    background: $flatRed
    margin-bottom: -0.2vh
  .bar-blue
    height: 0.8vh
    width: 100%
    background: $dmBleu
    margin-bottom: -0.2vh
  .headerBarLogo
    height: 5vh
    margin: 1.5vw
    margin-bottom: 1vh
