@import '_variables'
.places
  ion-content
    background: $dmMidGray
    position: absolute
    top: $headerW
  .poopoobrown
    background: brown
  .search-bar
    // width: 90vw
    // @include horizontal-align()
  .tags
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 2vw
  .tag
    margin: 1vh
    width: 28vw
    font-size: 2vh
    // background: $dmBleu
    // color: white
  .activated
    border: 0
    background: $dmBlue2
  img
    border-radius: 100%
  .miles
    @include vertical-align()
    height: 100%
    float: right
    margin: 5vw
    margin-right: 1vw
  .miles>h2
    color: $dmLightGray
  .places--content
    margin-top: 2vh
    float: left
